body{
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
    font-size:15px;
    background: #efefef;
}
h3{
    color: #1b744a;
}
h1,h2 {
    margin: 0;
}
div {
    display: block;
}

#cabecera{
    height: 50px;
    background-color: #1b744a;
}

#cover{
    margin: 0 auto;
    padding: 0;
    /*max-width: 940px;*/
    width: 940px;
    height: 350px;
    /*background:url("../images/cover.png") 90%;*/
}

#cover h2 {

    float: right;
    margin-right: 100px;
    margin-top: 180px;
}

#menu-superior{
    color: #fff;
    width: 940px;
    margin: 0 auto;
}

#menu-superior ul {
    display: block;
    list-style:none;
    margin:0;
    padding:0px 0 0 0;

}
#menu-superior ul li {
    margin:0px;
    padding:0;
    float:left;
}
#menu-superior ul li a {
    display:block;
    width:100px;
    padding:15px 0;
    text-decoration:none;
    text-align:center;
    color:#FFFFFF;
}

#menu-superior ul li a:hover {
      color:#99CC00;
      background-color: #145738;
}

#logo{
    height: 50px;
    float: left;
    width: 200px;
}

#logo img{
    height: 75%;
    padding: 5px 15px 0px 20px;
    margin: 0;
}

#contenedor{
    width: 940px;
    margin: 0 auto;
    background: #fff;
}

#pie{
    color: rgba(250, 251, 181, 0.90);
    width: 900px;
    margin: 0 auto;
    background-color: #228e57;
    padding: 20px;
}


#pins{
    text-align: center;
    height: 440px;
    clear: both;
    padding: 40px;
}
.caja{
    width: 226px;
    height: 300px;
    /*background-color: #9feea7;*/
    margin: 0 30px 0 0;
    float: left;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}
.caja:last-child{ margin: 0; }
.caja img{
    transform: scale(.75);
    transition: all 1s ease;
    opacity: .70;
}
.caja img:hover{
    transform: scale(1);
    transition: all .75s ease;
    opacity: 1;
}

.caja:hover{
    background-color: #f4fff9;
    transform: rotate(5deg);
}

.pin-desc{
    margin-top: 20px;
    width: 500px;
    height: 250px;
    background-color: #CAE388;
    float: right;
    padding: 25px;
    border-radius: 15px;
}

.pin-desc img{
    width: 250px;
    float: right;
    border-radius: 15px;
}
.n-desc{
	text-decoration:none;
}
.pin-desc p{
    width: 200px;
    float: left;
}
#maps{
    width: 250px;
    height: 460px;
    background: url("../images/mapa.png");
    margin: 0;
    float: left;
    margin: 20px;
}

#formulario{
    width: 530px;
    height: 380px;
    background-color: #a1baaa;
    float: right;
    margin: 20px 20px 20px 0;
    padding: 40px;
}

#formulario table{
    width: 450px;
}
#formulario table input[type=text]{
    width: 100%;
    height: 20px;
}

#formulario table input[type=submit]{
    color: #efefef;
    background-color: #145738;
    border: solid 1px #228e57;
    padding: 5px 20px;
    margin: 10px 0;
}

#formulario table tr:last-child td{
    text-align: center;
}

#formulario .form-contacto{
	font-weight:bold;
	color:#647B4D;
}

#contenido{
    height: 500px;
    clear: both;
    padding:0 10px;
}


.port-proyecto {
    /*width: 300px;*/
    width: 220px;
    /*height: 302px;*/
    height: 220px;
    background: #145738;
    display: inline-block;
    margin: 1px;
    position: relative;


    background-size:150%;
    transition: background-size .5s ease-in;

}

.port-proyecto a{
    width: 300px;
    height: 302px;
}

.port-proyecto:hover{
    background-size:100%;
    cursor: pointer;
}

.port-proyecto p{
    position: absolute;
    left: 20px;
    top: 150px;
    color: #efefef;
    font-weight: bold;
    background-color: #434648;
    opacity: 0.7;
    padding: 10px;
}

h2.titulo-seccion{
    text-align: center;
    color: #228e57;
    padding: 15px 0;
}

#portafolio{
    height: 600px;
    clear: both;
    padding:0px 10px;
    margin: 0 120px;
}

article.p-ubuntu {
    background-image: url("../images/previews/ubuntu_preview.png");
}

article.p-suse {
    background-image: url("../images/previews/suse_preview.png");
}

article.p-oracle {
    background-image: url("../images/previews/oracle_preview.png");
}

article.p-msstore {
    background-image: url("../images/previews/msstore_preview.png");
}

article.p-linux {
    background-image: url("../images/previews/linux_preview.png");
}

article.p-redhat {
    background-image: url("../images/previews/redhat_preview.png");
}


#nosotros{
    height: 750px;
    clear: both;
    padding:0 100px;

}

#nosotros p.titulo{
    color: #efefef;
    background-color: #434648;
    opacity: 0.7;
    margin-top: 15px;
    padding: 15px;
}
#nosotros p.desc-claro{
	margin-left:50px;
	font-size:24px;
	color:#FFFFFF;
}

#nosotros p.desc-oscuro{
	margin-left:50px;
	font-size:24px;
	color:#444;
}

#nosotros section{
    height: 150px;
}

.n-dis {
    background: url("../images/dis.png");
}

.n-dev {
    background: url("../images/dev.jpg");
}

.n-web {
    background: url("../images/web.jpg");
}

.n-dev:hover, .n-dis:hover, .n-web:hover{
    cursor: pointer;
}

.n-detail{
    background-color: #eff7ef;
    height: 450px !important;
    padding: 20px;
	
}
.n-detail img{
	margin:15px 0 15px 250px;
}

.n-detail ul li {
	padding: 5px;
  list-style-type: square;
  color:  #434648;
}

#blog{
	height:1200px;
}

.entrada{
    padding: 20px 100px;
	/*margin: 0 100px;*/
}
#blog-detalle{
	height:800px;
}

.entrada img{
	border: solid 1px #ccc;
	margin:10px 0;
}

.entrada h3{
	margin:0;
	padding:10px 0;
}

.entrada p{
	text-align: justify;
	padding:15px 0;	
}

.entrada img{
	width: 740px;
}

.entrada-info a{
	font-weight: bold;
	color: #777;
}

.entrada-info{
	color: #777;
	padding: 10px 0;
}

.entrada-link{
	text-align: right;
	color: #777;
	padding: 10px 0;
}
.entrada-link a{
	color: #d7ffdc;
	padding: 10px 0;
    background-color: #145738;
    text-decoration: none;
    padding: 5px 15px;
}

.entrada:nth-child(even) {background-color: #f6f6f6;}
.entrada:nth-child(odd) {background-color:#e6e6e6;}